---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<header>
  <p>ここはヘッダーです</p>
</header>
<style>
  /* ここにこのページだけで使うCSSを記述する場合に使いますが、今回はsassでまかないますので使わない想定です。 */
</style>
